.text-logo {
  margin-bottom: 29px;
  margin-top: 36px;

  @media only screen and (min-width: $tablet) {
    margin-top: 31px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
