.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    background-color: #f2f2f2;
  }

  @media only screen and (min-width: $desktop) {
    background: none;
  }
}

.welcome__wrapper {
  width: 100vw;
  box-sizing: border-box;
  padding-left: calc((100vw - 280px) / 2);
  padding-right: calc((100vw - 280px) / 2);
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 15px;


  @media only screen and (min-width: $tablet) {
    padding-left: calc((100vw - 635px) / 2 + 5px);
    padding-right: calc((100vw - 635px) / 2 + 5px);
    background-color: unset;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 48px;
  }

  @media only screen and (min-width: $desktop) {
    background-color: #ffffff;
    padding: 50px 0;
    width: 570px;
    position: relative;
    top: 95px;
    left: -325px;
    justify-content: flex-start;
    z-index: 5;
  }

  &--index {
    background-color: #ffffff;
  }
}

.welcome__heading {

  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  text-transform: uppercase;
  color: #111111;

  @media only screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    width: 175px;
  }

  @media only screen and (min-width: $desktop) {
    margin-left: 75px;
    margin-right: 75px;
  }
}

.welcome__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media only screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    width: 160px;
    text-align: right;
  }

  @media only screen and (min-width: $desktop) {
    text-align: left;
  }
}

.welcome__map {
  background-color: #f2f2f2;
  padding-top: 160px;
  padding-bottom: 200px;
  width: 100%;

  @media only screen and (min-width: $tablet) {
    width: 100%;
    padding-bottom: 240px;
  }

  @media only screen and (min-width: $desktop) {
    margin-top: -205px;
  }

  &--nojs {
    background: url("../img/bg-map-mobile.png") no-repeat 50%/cover;

    @media only screen and (min-width: $tablet) {
      background: url("../img/bg-map-tablet.png") no-repeat 50%/cover;
    }

    @media only screen and (min-width: $desktop) {
      background: url("../img/bg-map-desktop.png") no-repeat 50%/cover;
    }
  }
}
