.academy {
  width: 280px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;

  @media only screen and (min-width: $tablet) {
    width: 163px;
  }
}

.academy__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;


  &--logo {
    width: 27px;
    height: 27px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
  }
}
