.academy {
  width: 280px;
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    justify-content: flex-end;
    width: auto;
  }
}

.academy__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;


  &--logo {
    display: block;
    width: 27px;
    height: 34px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;


    @media only screen and (min-width: $tablet) {
      margin-left: 50px;
    }
  }
}

