.button {
  font-family: $oswald;
  background-color: $base-color;
  width: 280px;
  font-weight: normal;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
  margin-top: 21px;
}

.button__first-screen {
  font-size: 14px;
  margin-left: 20px;
}

.button--form {
  padding-top: 0px;
}
