.button {
  font-family: $oswald;
  background-color: $base-color;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;

  &:hover {
    background-color: $green2;
  }

  &:active {
    color: transparentize(#ffffff, 0.7);
    background-color: $green2;
  }

  &--catalog {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 12px;
    margin-bottom: 5px;
    font-size: 16px;

    @media only screen and (min-width: $tablet) {
      width: 80%;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-bottom: 15px;
    }
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
    margin-top: 21px;
    width: 100%;

    @media only screen and (min-width: $tablet) {
      width: 80%;
      margin-top: 0;
    }
  }

  &--form {
    border: none;
    padding-top: 10px;
    margin-top: 20px;
    line-height: 10px;
    width: 100%;

    @media only screen and (min-width: $tablet) {
      width: 280px;
      margin-bottom: 20px;
      margin-right: 75px;
      min-height: 50px;
      font-size: 20px;
      line-height: 0px;
    }

    @media only screen and (min-width: $desktop) {
      width: 45%;
      margin-right: 60px;
    }
  }

  &--extra {
    @media only screen and (min-width: $tablet) {
      width: 100%;
      margin-bottom: 20px;
    }

    @media only screen and (min-width: $desktop) {
      width: 245px;
      margin-bottom: 0;
    }
  }
}

.button__first-screen {
  font-size: 14px;
  display: block;
  min-width: 280px;

  @media only screen and (min-width: $tablet) {
    margin-left: 82px;
    width: 244px;
    font-size: 20px;
    min-width: unset;
    min-height: 34px;
    }

    @media only screen and (min-width: $desktop) {
    margin-top: 6px;
    margin-left: 80px;
    }
}
