.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0;
  }

  &--extra {
    margin-bottom: 32px;

    @media only screen and (min-width: $tablet) {
      margin-top: 7px;
    }

    @media only screen and (min-width: $desktop) {
      align-items: flex-end;
      margin-bottom: 88px;
      margin-top: 75px;

      @include base-wrapper();
    }
  }
}

.catalog__wrapper {
  @include base-wrapper();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--extra {
    @media only screen and (min-width: $tablet) {
      padding-top: 47px;
    }

    @media only screen and (min-width: $desktop) {
      width: 896px;
      padding: 0;
      margin: 0;
    }
  }
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 72px 72px 45px;

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 324px;
    background: linear-gradient(to top, #eaeaea 430px, white 430px);
    margin-bottom: 60px;
    border-top: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 511px;
  }

  @media only screen and (min-width: $desktop) {
    width: 245px;
    min-height: 511px;
  }

  &--more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: unset;
    margin-right: unset;
    max-width: 420px;
    width: 100%;
    background: none;

    @media only screen and (min-width: $tablet) {
      background-color: white;
      width: 324px;
      border: 2px solid #ebebeb;
      box-sizing: border-box;
      max-width: unset;
      min-height: unset;
      align-self: flex-end;
    }

    @media only screen and (min-width: $desktop) {
      width: 245px;
    }
  }

  &--extra {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;

    @media only screen and (min-width: $tablet) {
      background-color: white;
      min-height: unset;
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      max-width: 800px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-left: 36px;
      padding-right: 35px;
      padding-top: 9px;
    }

    @media only screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      border-left: none;
      border-right: none;
      align-items: center;
      flex-wrap: nowrap;
      max-width: unset;
      min-height: 72px;
      background: none;
    }
  }
}

.catalog__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  @media only screen and (min-width: $tablet) {
    width: unset;
    height: unset;
  }
}

.catalog__title {
  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 22px;
  padding-right: 45px;
  color: #222222;

  @media only screen and (min-width: $tablet) {
    width: 155px;
    text-align: center;
    padding: 0;
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: $desktop) {
    line-height: 21px;
    margin-top: 34px;
  }

  &--extra {
    width: unset;
    margin-top: 10px;
    margin-bottom: 9px;

    @media only screen and (min-width: $tablet) {
      margin-left: 2px;
    }

    @media only screen and (min-width: $tablet) {
      flex-grow: 1;
      text-align: left;
    }
  }
}

.catalog__more-button {
  background-image: url("../img/icon-plus-mobile.svg");
  width: 30px;
  height: 30px;
  margin-top: 27px;
  margin-bottom: 23px;

  @media only screen and (min-width: $tablet) {
    background-image: url("../img/icon-plus.svg");
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }

  @media only screen and (min-width: $tablet) {
    margin-bottom: 47px;
  }
}

.catalog__sub-heading {
  font-family: $oswald;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 1px;
  margin-bottom: 8px;

  @media only screen and (min-width: $tablet) {
    width: 135px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__more-text {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-top: 1px;
  margin-bottom: 1px;

  @media only screen and (min-width: $tablet) {
    width: 170px;
    margin-bottom: 88px;
    font-size: 16px;
    line-height: 18px;
  }
}
