.catalog {
  padding-left: $base-padding-mobile;
  padding-right: $base-padding-mobile;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $base-padding-tablet;
    padding-right: $base-padding-tablet;
  }
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 45px;

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background-color: #f2f2f2;
    margin-bottom: 60px;
    border-top: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    min-height: 429px;
  }

  &--more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: unset;
    margin-right: unset;
    max-width: 420px;
    width: 100%;

    @media only screen and (min-width: $tablet) {
      background-color: white;
      width: 45%;
      border: 2px solid #ebebeb;
      box-sizing: border-box;
      max-width: unset;
    }
  }

  &--extra {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $tablet) {
      background-color: white;
      min-height: unset;
      margin-top: 0;
      margin-bottom: 0;
      border: 2px solid #ebebeb;
      box-sizing: border-box;
      max-width: unset;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-left: 38px;
      padding-right: 38px;
    }
  }
}

.catalog__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.catalog__title {
  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 13px;
  padding-right: 20px;

  @media only screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 150px;
    text-align: center;
  }

  &--extra {
    width: unset;
  }
}

.catalog__more-button {
  background-image: url("../img/icon-plus-mobile.svg");
  width: 30px;
  height: 30px;
  margin-top: 37px;
  margin-bottom: 23px;

  @media only screen and (min-width: $tablet) {
    margin-top: 45px;
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }
}

.catalog__sub-heading {
  font-family: $oswald;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 1px;
  margin-bottom: 10px;

  @media only screen and (min-width: $tablet) {
    width: 135px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__more-text {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-top: 1px;
  margin-bottom: 1px;

  @media only screen and (min-width: $tablet) {
    width: 170px;
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 18px;
  }
}
