.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__item { //как выстроить такое расположение элементов
  display: flex;
}

.catalog__title {

}

.catalog__more-button {
  background-image: url(/img/icon-plus-mobile.svg); //как сделать цвет #D3D3D3
  width: 30px;
  height: 30px;
}
