.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 480px;
  background: url("../img/index-can-mobile@1x.png") center 160px no-repeat, url("../img/index-background-mobile@1x.jpg") no-repeat;
  // background-position: top left, top left;
  // background-repeat: no-repeat;
}
