.first-screen {
  background: linear-gradient(to top, white 36%, #63a73a 36%);

  @media only screen and (min-width: $tablet) {
    background: none;
  }

  @media only screen and (min-width: $desktop) {
    background: linear-gradient(to right, white 50%, #63a73a 50%);
  }
}

.first-screen__wrapper {
  @include base-wrapper();
  font-family: $oswald;
  height: 480px;
  background: url("../img/index-can-mobile@1x.png") center 165px/280px no-repeat, url("../img/index-background-mobile@1x.jpg") no-repeat top center/320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media(min-resolution: 2dppx) {
    background: url("../img/index-can-mobile@2x.png") center 165px/280px no-repeat, url("../img/index-background-mobile@2x.jpg") no-repeat top center/320px;
  } 

  @media only screen and (min-width: $tablet) {
    background: url("../img/index-can-tablet@1x.jpg") center bottom no-repeat;
    justify-content: flex-start;
    align-items: baseline;
    min-height: 874px;

    @media(min-resolution: 2dppx) {
      background: url("../img/index-can-tablet@2x.jpg") center bottom/710px no-repeat;
    } 
  }

  @media only screen and (min-width: $desktop) {
    background: url("../img/index-can-desktop@1x.png") 557px 140px no-repeat, url("../img/index-background-desktop@1x.jpg") no-repeat right top;
    margin-top: -112px;
    min-height: 695px;

    @media(min-resolution: 2dppx) {
      background: url("../img/index-can-desktop@2x.png") 557px 140px/555px no-repeat, url("../img/index-background-desktop@2x.jpg") right top/720px no-repeat;
    } 
  }
}
