.form {
  font-family: $oswald;
  flex-direction: column;
}

.form__main-data {
  padding-left: $base-padding-mobile;
  padding-right: $base-padding-mobile;
}

.form__sub-heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
}

.form__label {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form__input-text {
  font-family: inherit;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  height: 46px;
  border: 1px solid #e7e7e7;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 10px;
}

.form__input-radio {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222222;
}

.form__input-text--comment {
  text-transform: uppercase;
}

.form__input-text--email {
  background: url("../img/icon-phone.svg") no-repeat right;
}

.form__input-text--phone {
  background: url("../img/icon-mail.svg") no-repeat right;
}

.form__checkbox {
  margin-top: 10px;
}

.form__req-fields {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
