.form {
  @include base-padding();
  font-family: $oswald;
  display: flex;
  flex-direction: column;
}

.form__sub-heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
}

.form__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input-text {
  font-weight: normal;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  height: 46px;
  border: 1px solid #e7e7e7;
  padding-left: 10px;
  padding-right: 10px;
}

.form__input-radio {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222222;
}

.form__input-text--comment {
  rows: "10";
  text-transform: uppercase;
}

.form__input-text--email {
  background: url("../img/icon-phone.svg") no-repeat right;
}

.form__input-text--phone {
  background: url("../img/icon-mail.svg") no-repeat right;
}


.form__checkbox {
  margin-top: 10px;
}

.button--form {
  margin-top: 20px;
  line-height: 10px;
}

.form__req-fields {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
