.gift {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;

  &::before {
    display: block;
    content: "";
    background-image: url("../img/icon-gift.svg");
    width: 58px;
    margin-top: 64px;
    margin-bottom: 58px;
  }
}

