.gift {
  @include base-wrapper();
  margin-top: 40px;
  background: url("../img/gift-photo-mobile@1x.jpg") center/280px no-repeat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 290px;

  @media (min-resolution: 2dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") center/280px no-repeat;
  }

  @media only screen and (min-width: $tablet) {
    background: url("../img/gift-photo-tablet@1x.jpg") center/708px no-repeat;
    margin-top: 23px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 768px;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg") center/708px no-repeat;
    }
  }

  @media only screen and (min-width: $desktop) {
    background: url("../img/gift-photo-desktop@1x.jpg") center/245px no-repeat;
    width: 245px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg") center/245px no-repeat;
    }
  }
}

.gift__icon {
  fill: #ffffff;
  width: 58px;
  height: 80px;
  margin-top: 55px;

  @media only screen and (min-width: $tablet) {
    margin-top: -10px;
    margin-left: -16px;
  }

  @media only screen and (min-width: $desktop) {
    margin-top: 57px;
    margin-left: 0;
  }
}

.gift__info {
  width: 180px;
  margin-top: 52px;

  @media only screen and (min-width: $tablet) {
    margin-top: 20px;
    text-align: left;
  }

  @media only screen and (min-width: $desktop) {
    text-align: center;
    margin-top: 52px;
  }
}
