.header {
  padding-left: $base-padding-mobile;
  padding-right: $base-padding-mobile;
  font-family: $oswald;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    padding-left: $base-padding-tablet;
    padding-right: $base-padding-tablet;
    align-items: flex-start;
  }

  @media only screen and (min-width: $desktop) {
    padding-top: 40px;
    padding-left: $base-padding-desktop;
    padding-right: $base-padding-desktop;
  }
}

.header__menu-button {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--nav-opened {
    background-image: url("../img/icon-close.svg");
  }

  &--nav-closed {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--nojs {
    display: none;
  }

  @media only screen and (min-width: $tablet) {
    display: none;
  }
}
