.header {
  @include base-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.header__menu-button {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  align-self: center;
  margin-bottom: 30px;
}

.header__menu-button--open-menu {
  background-image: url("/img/icon-close.svg");
}
