.how-it-works {
  @include base-padding();

  & ul {
    padding-left: 0px;
  }
}

.how-it-works__item {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-bottom: 10px;

  &::before {
    display: block;
    content: "";
    width: 160px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $base-color;
    margin-right: 20px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--boil::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--forks::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}





