.how-it-works {
  padding-left: 5%;
  padding-right: 5%;
}

.how-it-works__wrapper {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: auto;

  @media only screen and (min-width: $tablet) {
    max-width: none;
    justify-content: space-between;
  }
}

.how-it-works__item {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-bottom: 20px;

  @media only screen and (min-width: $tablet) {
    width: 35%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }

  @media only screen and (min-width: $desktop) {
    width: 20%;
    margin-right: 0;
  }


  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $base-color;
    padding-right: 40px;
    margin-right: 20px;

    @media only screen and (min-width: $tablet) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--boil::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--forks::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}





