@mixin hide-link-text() {
  text-indent: -100%;
  overflow: hidden;
}


@mixin base-padding() {
  @media only screen and (max-width: $tablet) {
    padding-left: $base-padding-mobile;
    padding-right: $base-padding-mobile;
  }

  @media only screen and (min-width: $tablet) {
    padding-left: $base-padding-tablet;
    padding-right: $base-padding-tablet;
  }

  @media only screen and (min-width: $desktop) {
    padding-left: $base-padding-desktop;
    padding-right: $base-padding-desktop;
  }
}
