.nav {
  margin: 0 auto;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  height: 65px;
  border-top: 1px solid #e6e6e6;
  width: 320px;
  text-align: center;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

