.programs {
  padding-left: $base-padding-mobile;
  padding-right: $base-padding-mobile;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-around;
  }
}
