.program {
  background-color: #f2f2f2;
  margin-top: 20px;
}

.program__title {
  font-family: $oswald;
  width: 250px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: $base-color;
    background-repeat:  no-repeat;
    background-position: 50%;
  }

  &--lose::before {
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--gain::before {
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.program__description {
  width: 227px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  font-family: $oswald;
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat;
  background-position: right;
  background-size: 25px;
  padding-right: 40px;
  margin-left: 20px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
