.sample {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media only screen and (min-width: $tablet) {
    @include base-wrapper();
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top, #eaeaea 440px, white 440px);
    margin-top: 40px;
    border-top: 1px solid #eaeaea;
  }

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: unset;
    background: linear-gradient(to top, #eaeaea 70%, white 70%);
    justify-content: space-between;
    margin-top: 0;
    padding-bottom: 67px;
    border: none;
  }
}

.sample__info-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  box-sizing: border-box;

  @media only screen and (min-width: $tablet) {
    width: 100%;
    max-width: 750px;
    padding-left: 0;
    padding-right: 0;
  }

  @media only screen and (min-width: $desktop) {
    justify-content: unset;
    align-content: flex-start;
    width: 570px;
  }
}

.sample__cats-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;

  @media only screen and (min-width: $tablet) {
    width: 708px;
    padding-bottom: 68px;
    padding-top: 55px;
    align-items: flex-start;
  }

  @media only screen and (min-width: $desktop) {
    width: 575px;
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.sample__description {
  width: 279px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media only screen and (min-width: $tablet) {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-top: 43px;
    margin-bottom: 38px;
  }

  @media only screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 125px;
    margin-bottom: 0;
    padding-right: 135px;
  }
}

.sample__bullet {
  width: 124px;
  height: 55px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;

  @media only screen and (min-width: $tablet) {
    margin-right: 40px;
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }

  @media only screen and (min-width: $desktop) {
    margin-top: 70px;
  }
}

.sample__bullet-text {
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding-top: 7px;

  @media only screen and (min-width: $tablet) {
    padding-top: 16px;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__bullet-sub-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  text-align: center;
  background: #eaeaea;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (min-width: $tablet) {
    margin-top: 11px;
    background: white;
    font-size: 14px;
    line-height: 14px;
    padding-right: 10px;
    padding-left: 10px;
  }

  & br {
    @media only screen and (min-width: $tablet) {
      display: none;
      margin-top: 10px;
    }
  }

  @media only screen and (min-width: $desktop) {
    background: #eaeaea;
  }
}

.sample__sub-heading {
  font-family: $oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  &:last-child {
    margin-left: 3px;
  }

  @media only screen and (min-width: $tablet) {
    margin-right: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin-top: 7px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: $desktop) {
    width: fit-content;
    text-align: left;
  }
}

.sample__sub-heading-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5px;

  @media only screen and (min-width: $tablet) {
    margin-right: 0;
    margin-left: 126px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    flex-direction: column;
    padding-top: 15px;
  }

  @media only screen and (min-width: $desktop) {
    margin-left: 0;
    width: 328px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 21px;
    padding-top: 0;
  }
}

.sample__image {
  margin-bottom: 14px;
  content: url("../img/before-mobile@1x.png");

  @media only screen and (min-width: $tablet) {
    content: url("../img/before-tablet@1x.png");
    margin-left: 16px;
  }

  @media only screen and (min-width: $desktop) {
    margin-left: -35px;
    margin-bottom: 37px;
  }

  &--after {
    content: url("../img/after-mobile@1x.png");

    @media only screen and (min-width: $tablet) {
      content: url("../img/after-tablet@1x.png");
    }
  }
}

.sample__state-text {
  margin-bottom: 0;
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dotted transparent;

  @media only screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #68b738;
    margin: 0;
  }

  &:hover {
    border-bottom: 1px solid #68b738;
  }

  &:active {
    border: none;
  }
}

.sample__button {
  position: relative;
  margin: 14px 60px 0;
  cursor: pointer;

  @media only screen and (min-width: $tablet) {
    content: "";
    height: 6px;
    width: 428px;
    background-color: #dcdcdc;
    position: relative;
    top: 12px;
    border-radius: 5px;
    margin: 0 22px;
  }

  &::before {
    content: "";
    width: 84px;
    height: 12px;
    border: 1px solid #cdcdcd;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    margin: 0;
    left: -40px;
    top: -7px;

    @media only screen and (min-width: $tablet) {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      left: 200px;
      top: -14px;
    }
  }

  &::after {
    position: absolute;
    width: 35px;
    background-color: #68b738;
    content: "";
    height: 6px;
    border-radius: 10px;
    top: -3px;
    left: -33px;

    @media only screen and (min-width: $tablet) {
      width: 10px;
      height: 10px;
      left: 211px;
      top: -2px;
    }
  }

  &--after.sample__button::after {
    left: 4px;
  }
}
