.sample {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media only screen and (min-width: $tablet) {
    @include base-wrapper();
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top, #eaeaea 40%, white 40%);
    margin-top: 40px;
    border-top: 1px solid #e6e6e6;
  }

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: unset;
    background: linear-gradient(to top, #eaeaea 70%, white 70%);
    justify-content: space-between;
  }
}

.sample__info-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  box-sizing: border-box;

  @media only screen and (min-width: $tablet) {
    width: 100%;
    max-width: 750px;
    padding-left: 0;
    padding-right: 0;
  }

  @media only screen and (min-width: $desktop) {
    justify-content: unset;
    width: 575px;
  }
}

.sample__cats-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;

  @media only screen and (min-width: $tablet) {
    width: 708px;
  }

  @media only screen and (min-width: $desktop) {
    width: 575px;
  }
}

.sample__description {
  width: 279px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media only screen and (min-width: $tablet) {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-top: 43px;
  }

  @media only screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.sample__bullet {
  width: 124px;
  height: 50px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    margin-right: 40px;
    width: 162px;
    height: 77px;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__bullet-text {
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;

  @media only screen and (min-width: $tablet) {
    padding-top: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__bullet-sub-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background: #eaeaea;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (min-width: $tablet) {
    margin-top: 15px;
    background: white;
  }

  & br {
    @media only screen and (min-width: $tablet) {
      display: none;
      margin-top: 10px;
    }
  }

  @media only screen and (min-width: $desktop) {
    background: #eaeaea;
  }
}

.sample__sub-heading {
  font-family: $oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  &:last-child{
    margin-left: 3px;
  }

  @media only screen and (min-width: $tablet) {
    margin-right: 0;
    width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  @media only screen and (min-width: $desktop) {
    width: 100%;
    text-align: left;
    content: "Затраты на питание:     15 000 руб.";
  }
}

.sample__sub-heading-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5px;
}

.sample__image {
  margin-bottom: 14px;
  content: url("../img/before-mobile@1x.png");

  @media only screen and (min-width: $tablet) {
    content: url("../img/before-tablet@1x.png");
  }


  &--after {
    content: url("../img/after-mobile@1x.png");

    @media only screen and (min-width: $tablet) {
      content: url("../img/after-tablet@1x.png");
    }
  }
}

.sample__state-text {
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.sample__button {
  width: 100px;
  height: 20px;
  background-image: url("../img/slider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  margin: 0 9px;

  &--after {
    transform: rotate(180deg);
  }
}
