.social {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;


  @media only screen and (min-width: $tablet) {
    border: none;
    width: unset;
  }
}

.social__link {
  display: block;
  margin-left: 18px;
  margin-right: 18px;

  &:hover {
    color: $base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
}

.social__link--inst {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social__link--fb {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}
