@import "variables";
@import "mixins";
@import "academy";
@import "body";
@import "button";
@import "catalog";
// @import "debug";
@import "first-screen";
@import "footer";
@import "form";
@import "gift";
@import "header";
@import "heading";
@import "how-it-works";
@import "image-logo";
@import "main";
@import "nav";
@import "program";
@import "programs";
@import "sample";
@import "social";
@import "sub-heading";
@import "table";
@import "text-logo";
@import "visually-hidden";
@import "welcome";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
       url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
