@import "variables.scss", "mixins.scss", "academy.scss", "body.scss", "button.scss", "catalog.scss", "first-screen.scss", "footer.scss", "form.scss", "gift.scss", "header.scss", "heading.scss", "how-it-works.scss", "image-logo.scss", "main.scss", "nav.scss", "program.scss", "programs.scss", "sample.scss", "social.scss", "sub-heading.scss", "table.scss", "text-logo.scss", "welcome.scss";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
       url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
