@import "variables";
@import "mixins";
@import "blocks/academy";
@import "blocks/body";
@import "blocks/button";
@import "blocks/catalog";
// @import "debug";
@import "blocks/first-screen";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/gift";
@import "blocks/header";
@import "blocks/heading";
@import "blocks/how-it-works";
@import "blocks/image-logo";
@import "blocks/main";
@import "blocks/nav";
@import "blocks/program";
@import "blocks/programs";
@import "blocks/sample";
@import "blocks/social";
@import "blocks/sub-heading";
@import "blocks/table";
@import "blocks/text-logo";
@import "visually-hidden";
@import "blocks/welcome";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
