.table {

  @media only screen and (min-width: $tablet) {
    width: 60%;
    margin-bottom: 40px;
  }
}

.table tr {
    @media only screen and (min-width: $tablet) {
      border-bottom: 1px solid #cdcdcd;
  }
}


.table th {
  text-align: left;
}

.table td {
  text-align: right;
}

.table__item {
  font-weight: normal;
}
