.table {
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  align-content: flex-start;
  margin-top: 3px;

  & dd {
    text-align: right;
  }

  @media only screen and (min-width: $tablet) {
    width: 252px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: $desktop) {
    width: 170px;
    margin-top: 25px;
    justify-content: space-between;
  }

  &--extra {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;

    @media only screen and (min-width: $tablet) {
      width: unset;
      font-size: 16px;
      line-height: 20px;
    }

    @media only screen and (min-width: $desktop) {
      width: 300px;
      font-size: 16px;
      line-height: 20px;
      margin-right: 38px;
    }
  }
}

.table__item {
  margin: 0;
  width: 70px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media only screen and (min-width: $tablet) {
    width: 125px;
    font-size: 16px;
    padding-bottom: 9px;
    margin-bottom: 7px;
    border-bottom: 1px solid $special-grey;
  }

  @media only screen and (min-width: $desktop) {
    width: 80px;
    padding-bottom: 8px;
  }

  &--extra {
    font-size: 14px;
    line-height: 14px;
    width: unset;

    @media only screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 20px;
      margin-left: 50px;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    @media only screen and (min-width: $desktop) {
      margin-left: 12px;
    }
  }
}
