.table {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  align-content: flex-start;
  margin-top: 3px;

  & dd {
    text-align: right;
  }

  @media only screen and (min-width: $tablet) {
    width: 60%;
    margin-bottom: 0;
  }

  &--extra {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;

    @media only screen and (min-width: $tablet) {
      width: 40%;
      font-size: 16px;
      line-height: 20px;
    }

    @media only screen and (min-width: $desktop) {
      width: 300px;
      font-size: 16px;
      line-height: 20px;
      margin-left: 60px;
    }
  }
}

.table__item {
  margin: 0;
  width: 70px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  &--extra {
    font-size: 14px;
    line-height: 14px;
    width: unset;
  }
}
