.text-logo {
  display: block;
  width: 128px;
  height: 24px;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;

  &--footer {
    margin-top: 39px;
    margin-bottom: 32px;
  }
}

