$base-color: #68b738;
$green2: #5eaa2f;
$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$tablet: 768px;
$desktop: 1440px;

$base-padding-mobile: 20px;
$base-padding-tablet: 30px;
$base-padding-desktop: 110px;
