.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  padding-top: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: $tablet) {
  justify-content: space-between;
  width: 628px;
  padding: 60px 70px;
  }

  @media only screen and (min-width: $desktop) {
    padding: 30px;
    width: 570px;
    position: relative;
    top: 95px;
    left: -20%;
  }
}

.welcome__heading {

  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  text-transform: uppercase;
  color: #111111;

  @media only screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
    width: 175px;
  }
}

.welcome__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media only screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
}

.welcome__map {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url("../img/map-pin.png") no-repeat 50%, url("../img/map-mobile.svg") no-repeat 50%;
  width: 100%;

  @media only screen and (min-width: $tablet) {
    background: url("../img/map-pin.png") no-repeat 50%, url("../img/map-tablet.svg") no-repeat 50%;
    width: 100%;
  }

  @media only screen and (min-width: $desktop) {
    margin-top: -155px;
  }
}
