.welcome {
  padding-top: 10px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.welcome__heading {

  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  text-transform: uppercase;
  color: #111111;
}

.welcome__address {

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
}

.welcome__map {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url("../img/map-pin.png") no-repeat 50%, url("../img/map-mobile.svg") no-repeat 50%;
  width: 100%;
}
