.welcome {
  padding-top: 10px;
  background-color: #ffffff;
}

.welcome__heading {
  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  margin-left: 20px;
  margin-bottom: 1px;
  text-transform: uppercase;
  color: #111111;
}

.welcome__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 1px;
}

.welcome__map {
  width: 320px;
  margin-top: 22px;
}
